body {
  background-color: papayawhip
}

h1 {
  color: black; font: 'Times New Roman'; font-size: xx-large;
}

p {
  color: aquamarine;
}

.loginform {
  padding :30px; 
  background-color: black;
  border: 2px solid cyan;
  border-radius: 13px;
  margin: 20px
}


